/** {
  border: 1px black solid;
}*/


/*GENERAL ################################# */

img {
  max-width: 100%;
}
.bubbles h1 {
  text-align: center;
}

/*HEADER ################################# */

header {
  float: left;
  background-color: skyblue;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
}
header a {
  text-decoration: none;
}

#main_nav {
  float: right;
  padding-right: 20px;
  font-family: 'Passion One', cursive;
  font-size: 1.75em;
}

#logo {
  float: left;
  padding-left: 20px;
  /*font-family: 'Open Sans', Sans Serif;*/
  font-family: 'Lobster', cursive;

}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0 10px 0 0;
}


/*BODY ################################# */

body {
  font-family: 'Open Sans', Sans Serif;
}

body {
  background-color: #fff;
  color: black;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%
  display:inline-block;
  clear: both;
}

.bubbles {
  color: white;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: steelblue;
  border-radius: 15px;
}

#cover_photo {
  /*width: 200px;
  height: 100px;*/
  margin-right: 20px;
  float: left;
  border-radius: 15px;
}


/*ABOUT.HTML ################################# */

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #bdc3c7;
  color: white;
}

/*CONTACT.HTML ################################# */

#contactInfo li {
  list-style: none;
  font-family: 'Passion One', cursive;
  font-size: 1.5em;
}

/*FOOTER ################################# */

footer {
  /*center footer - may want to use different method*/
  margin: auto;
  width: 25%;
}
